<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Dynamic Components Example</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    .tab-button {
      padding: 6px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid #ccc;
      cursor: pointer;
      background: #f0f0f0;
      margin-bottom: -1px;
      margin-right: -1px;
    }
    .tab-button:hover {
      background: #e0e0e0;
    }
    .tab-button.active {
      background: #e0e0e0;
    }
    .tab {
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>
</head>

<body>
<div id="dynamic-component" class="demo">
  <!-- タブ切り替えボタン -->
  <!-- ボタンクリック時に currentTab に tab をセットしている。それによりタブページの中身が切り替わる。 -->
  <button v-for="tab in tabs"
          v-bind:key="tab.name"
          v-bind:class="['tab-button', { active: currentTab.name === tab.name }]"
          v-on:click="currentTab = tab"
  >{{ tab.name }}</button>

  <!-- タブページの中身 -->
  <!-- v-bind:is で component 自体を渡す -->
  <component v-bind:is="currentTab.component" class="tab"></component>
</div>
<script>
    var tabs = [
        {
            name: "Home",
            component: {
                template: "<div>Home component</div>"
            }
        },
        {
            name: "Posts",
            component: {
                template: "<div>Posts component</div>"
            }
        },
        {
            name: "Archive",
            component: {
                template: "<div>Archive component</div>"
            }
        }
    ];

    new Vue({
        el: "#dynamic-component",
        data: {
            tabs: tabs,
            currentTab: tabs[0]
        }
    })
</script>

<h4>DOM テンプレートパース時の警告</h4>
<div id="component-template-parse-warning">
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
    <!-- カスタムコンポーネント blog-post をtable要素にそのまま入れても正常に動作しないので、-->
    <!-- tr の is属性としてカスタムコンポーネント名を渡せるようになっている。tr以外にも ul, ol, select なども同様 -->
    <tr is="blog-post" v-for="post in posts"
        v-bind:key="post.id" v-bind:post="post"></tr>
  </table>
</div>
<script>
    Vue.component('blog-post', {
        props: ['post'],
        template: `
          <tr class="blog-post">
            <td>{{ post.title }}</td>
            <td v-html="post.content"></td>
          </tr>
        `
    });
    new Vue({
        el: "#component-template-parse-warning",
        data: {
            posts: [
                {id: 1, title: "すぐ分かる Vue.js", content: "test"},
                {id: 2, title: "サルでも分かる Vue.js", content: "<span class='post-content'>サルでも分かります</span>"},
                {id: 3, title: "Vue.js のコツ 50コ教えます！", content: "<span class='post-content'>神になります</span>"},
            ],
        }
    })
</script>
</body>
</html>