<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue Test</title>
    <!-- Vue.js ver2 を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Vue.js ver3 を読み込む -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <style>
      #app-2 .error {
        color: red;
      }
    </style>
  </head>

  <body>
    <div id="app-1">{{ message }}</div>
    <script>
      var app1 = new Vue({
        el: "#app-1",
        data: { message: "Hello World!" },
        <!-- ライフサイクルフック -->
        beforeCreate: function () {
          console.log("beforeCreate")
        },
        created: function () {
          console.log("created")
          // `this` は vm インスタンスを指します
          console.log('message is: ' + this.message)
          console.log('$data.message is: ' + this.$data.message)  // これでも同じ意味になる
        },
        beforeMount: function(){
          console.log("beforeMount")
        },
        mounted: function () {
          console.log("mounted")
        },
        <!-- 以下はここでは呼ばれない -->
        updated: function () {
          console.log("updated")
        },
        beforeDestroy: function(){
          console.log("beforeDestroy")
        },
        destroyed: function () {
          console.log("destroyed")
        },
      });
    </script>

    <div id="app-2">
      <!-- v-modelディレクティブによる 双方向バインディング -->
      <input type="text" v-model="message" />
      <span>{{ message }}</span>
      <div class="error" v-if="error.require">必須項目です。</div>
      <div class="error" v-if="error.tooLong">長すぎます。</div>
    </div>
    <script>
      var app2 = new Vue({
        el: "#app-2",
        watch: {
          message: function (newVal, oldVal) {
            this.error.require = newVal.length < 1;
            this.error.tooLong = newVal.length > 5;
          },
        },
        data: {
          message: "Sample",
          error: {
            require: false,
            tooLong: false,
          },
        },
      });
    </script>

    <h4>bind（ツールチップを動的にセット）</h4>
    <div id="app-3">
      <!-- Vueインスタンスのmessageプロパティをツールチップ(title)にBindしている -->
      <!-- Hoverするたびに message を変更するメソッドを呼び出す ※v-on: を @ で省略することが出来る -->
      <span v-bind:title="message" @mouseover="udpateMessage">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>
    <script>
      var app3 = new Vue({
        el: "#app-3",
        data: {
          // messageはLoad時に決まる
          message: "You loaded this page on " + new Date().toLocaleString(),
        },
        methods: {
          udpateMessage: function(){
            this.message = "message has changed on " + new Date().toLocaleString()
          }
        }
      });
    </script>

    <h4>条件分岐</h4>
    <div id="app-4">
      <!-- app4 の seen を false にすると消える -->
      <span v-if="seen">Now you see me</span>
    </div>
    <script>
      var app4 = new Vue({
        el: '#app-4',
        data: {
          seen: true
        }
      })
    </script>

    <h4>forループ</h4>
    <div id="app-5">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <script>
      var app5 = new Vue({
        el: '#app-5',
        data: {
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ]
        }
      })
    </script>

    <h4>ユーザー入力の制御 ～ clickイベント</h4>
    <div id="app-6">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <script>
      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
    </script>

    <h4>コンポーネント</h4>
    <div id="app-7">
      <ol>
        <!--
          各 todo-item の内容を表す todo オブジェクトを与えます。
          これにより内容は動的に変化します。
          また後述する "key" を各コンポーネントに提供する必要があります。
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
    <script>
      Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      var app7 = new Vue({
        el: '#app-7',
        data: {
          groceryList: [
            { id: 0, text: 'Vegetables' },
            { id: 1, text: 'Cheese' },
            { id: 2, text: 'Whatever else humans are supposed to eat' }
          ]
        }
      })
    </script>
  </body>
</html>
