<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue Test</title>
    <!-- Vue.js ver2 を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Vue.js ver3 を読み込む -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <style>
      #app-2 .error {
        color: red;
      }
    </style>
  </head>

  <body>
    <h4>clickイベント</h4>
    <div id="example-1">
      <button v-on:click="counter += 1">Add 1</button>
      <p>The button above has been clicked {{ counter }} times.</p>
    </div>
    <script>
      var example1 = new Vue({
        el: "#example-1",
        data: {
          counter: 0,
        },
      });
    </script>

    <h4>clickイベント ～ メソッドイベントハンドラ</h4>
    <!-- `greet` は、あらかじめ定義したメソッドの名前 -->
    <div id="example-2">
      <button v-on:click="greet">Greet</button>
    </div>
    <script>
      var example2 = new Vue({
        el: "#example-2",
        data: { name: "Vue.js" },
        methods: {
          greet: function (event) {
            alert("Hello" + this.name + "!");
            if (event) {
              alert(event.target.tagName);
            }
          },
        },
      });
    </script>

    <h4>clickイベント ～ インラインメソッドハンドラ</h4>
    <div id="example-3">
      <button v-on:click="say('hi')">Say hi!</button>
      <button v-on:click="say('what')">Say what</button>
      <!-- DOMイベントをJSに渡す -->
      <button v-on:click="warn('Form cannot be submitted yet.', $event)">
        Submit
      </button>
    </div>
    <script>
      var example3 = new Vue({
        el: "#example-3",
        methods: {
          say: function (message) {
            alert(message);
          },
          warn: function (message, event) {
            // ネイティブイベントを参照
            if (event) {
              event.preventDefault();
            }
            alert(message);
          },
        },
      });
    </script>

    <h4>キー修飾子</h4>
    <div id="example-4">
      <span>Trigger Enter</span>
      <input
        type="text"
        v-model="inputValue1"
        v-on:keyup.enter="submit1"
        placeholder="input and press enter!"
      /><br />
      <span>Trigger ctrl+Enter</span>
      <input
        type="text"
        v-model="inputValue2"
        v-on:keydown.ctrl.enter="submit2"
        placeholder="input and press ctrl+enter"
      />
    </div>
    <script>
      var example4 = new Vue({
        el: "#example-4",
        data: {
          inputValue1: "",
          inputValue2: "",
        },
        methods: {
          submit1: function () {
            alert(this.inputValue1);
          },
          submit2: function () {
            alert(this.inputValue2);
          },
        },
      });
    </script>

    <h4>複数行テキスト＆チェックボックス＆ラジオボタン＆コンボボックス</h4>
    <div id="example-5">
      <span>Multiline message is:</span>
      <span>{{ message }}</span><br />
      <textarea v-model="message" @keydown.ctrl.enter="submit" placeholder="input and press ctrl+enter"></textarea><br>
      <!-- 単一チェックボックス -->
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label><br>
      <!-- 複数チェックボックスは配列にBindされる。チェックされたcheckboxのvalueの値が順不同で配列に格納される。-->
      <input type="checkbox" id="checkboxName1" value="Yamada" v-model="checkedNames">
      <label for="checkboxName1">山田</label>
      <input type="checkbox" id="checkboxName2" value="Suzuki" v-model="checkedNames">
      <label for="checkboxName2">鈴木</label>
      <input type="checkbox" id="checkboxName3" value="Satoh" v-model="checkedNames">
      <label for="checkboxName3">佐藤</label><br>
      <span>Checked names: {{ checkedNames }}</span><br>
      <!-- ラジオボタン -->
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label><br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label><br>
      <span>Picked: {{ picked }}</span><br>
      <!-- コンボボックス -->
      <!-- v-model の式の初期値がオプションのどれとも一致しない場合、<select> 要素は “未選択” の状態で描画されます。
      iOS では、この場合 iOS が change イベントを発生させないため、最初のアイテムを選択できなくなります。
      したがって、上記の例に示すように、disabled な空の値のオプションを追加しておくことをおすすめします。 -->
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span><br>
      <!-- コンボボックス（v-forで動的生成） ※表示文字列を選択値を分けることもやっている -->
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select><br>
      <!-- リストボックス（複数選択） ※選択要素がそのまま配列に格納される（順不同）-->
      <select v-model="multiSelected" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ multiSelected }}</span><br>
      <!-- チェックボックス（true_value/false_value） -->
      <input id="checkboxYN" type="checkbox" v-model="toggle"
             true-value="yes" false-value="no">
      <label for="checkboxYN">{{ toggle }}</label><br>
      <!-- ラジオボタン ※v-bind -->
      <input type="radio" id="v-one" v-model="radioV" v-bind:value="va">
      <label for="v-one">One</label><br>
      <input type="radio" id="v-two" v-model="radioV" v-bind:value="vb">
      <label for="v-two">Two</label><br>
      <span>Picked: {{ radioV.value }}</span><br>
      <!-- コンボボックス ※v-bind -->
      <select v-model="selectedV">
        <!-- インラインオブジェクトリテラル -->
        <option disabled value="">Please select one</option>
        <option v-bind:value="{ number: 123, phone: '06' }">Osaka</option>
        <option v-bind:value="{ number: 234, phone: '03' }">Tokyo</option>
      </select>
      <span>Selected: {{ selectedV }}</span><br>
    </div>
    <script>
      var example5 = new Vue({
        el: "#example-5",
        data: {
          message: "",
          checked: false,
          checkedNames: ["Suzuki"],
          picked: "",
          selected: "",
          multiSelected: ["C"],

          options: [
            { text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' },
          ], 

          toggle: "yes",

          va: { name: "TestA", value: 100 },
          vb: { name: "TestB", value: 200 },
          radioV: "",

          selectedV: "",
        },
        methods: {
          submit: function () {
            alert("message: " + this.message + ", checked: " + this.checked);
          },
        },
      });
    </script>
  </body>
</html>
