<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Vue Test</title>
  <!-- Vue.js ver2 を読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- Vue.js ver3 を読み込む -->
  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <style>
    #app-2 .error {
      color: red;
    }
  </style>
</head>

<body>
<h4>コンポーネントの再利用</h4>
<div id="components-demo">
  <!-- コンポーネントは再利用可能 ※カウンターは各々のコンポーネントが保持するので全て独立 -->
  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>
<script>
    // button-counter と呼ばれる新しいコンポーネントを定義します
    // ・ここではGlobalに登録している
    // ・第1引数がコンポーネント名
    //   ※W3C rules に従ったカスタムタグ名(ケバブケース:全て小文字で、ハイフンが含まれていること)を推奨します。
    //     これは、既に存在する、そして将来定義される HTML 要素との衝突を防止するのに役立ちます。
    Vue.component('button-counter', {
        // dataは関数として定義する！
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });
    var vm = new Vue({el: '#components-demo'})
</script>

<h4>プロパティを使用した子コンポーネントへのデータの受け渡し</h4>
<div id="component-with-prop">
  <blog-post title="My journey with Vue"></blog-post>
  <blog-post title="Blogging with Vue"></blog-post>
  <blog-post title="Why Vue is so fun"></blog-post>
</div>
<script>
    Vue.component('blog-post', {
        // このコンポーネントが受け入れるプロパティのリスト
        props: ['title'],
        template: '<h6>{{ title }}</h6>'
    });
    var vm = new Vue({el: '#component-with-prop'})
</script>

<h4>同、動的生成</h4>
<div id="component-dynamic">
  <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
  <!-- componentのtitleに post.title をBindする -->
</div>
<script>
    var vm = new Vue({
        el: '#component-dynamic',
        data: {
            posts: [
                { id: 1, title: "すぐ分かる Vue.js" },
                { id: 2, title: "サルでも分かる Vue.js" },
                { id: 1, title: "Vue.js のコツ 50コ教えます！" },
            ]
        }
    })
</script>

<h4>componentのtemplateには単一のルート要素が必要</h4>
<div id="component-dynamic2">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <!-- v-on:子要素から発生されたカスタムイベントを購読し、インラインJSを実行する。   -->
    <!--      カスタムイベントから渡された引数は $event でアクセス出来る。   -->
    <!--      カスタムイベントハンドラーからメソッドを呼び出す場合は第1引数に $event が渡される -->
    <blog-post2 v-for="post in posts"
                v-bind:key="post.id" v-bind:post="post"
                v-on:enlarge-text="postFontSize += $event"
                v-on:condense-text="onCondenseText"
    ></blog-post2>
  </div>
</div>
<script>
    Vue.component('blog-post2', {
        props: ['post'],
        // ボタンclickで enlarge-text というカスタムイベントを送出する。イベントに引数も渡せる。
        template: `
          <div class="blog-post">
            <h6>{{ post.title }}</h6>
            <button v-on:click="$emit('enlarge-text', 0.2)">Enlarge text</button>
            <button v-on:click="$emit('condense-text', 0.2)">Condense text</button>
            <div v-html="post.content"></div>
          </div>
        `
    })
    var vm = new Vue({
        el: '#component-dynamic2',
        data: {
            posts: [
                { id: 1, title: "すぐ分かる Vue.js", content: "test" },
                { id: 2, title: "サルでも分かる Vue.js", content: "<span class='post-content'>サルでも分かります</span>" },
                { id: 1, title: "Vue.js のコツ 50コ教えます！", content: "<span class='post-content'>神になります</span>" },
            ],
            postFontSize: 1,
        },
        methods: {
            onCondenseText: function (condenseAmount) {
                this.postFontSize -= condenseAmount
            }
        }
    })
</script>
</body>
</html>
