<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue Test</title>
    <!-- Vue.js ver2 を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Vue.js ver3 を読み込む -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <style>
      #app-2 .error {
        color: red;
      }
    </style>
  </head>

  <body>
    <h4>clickイベント</h4>
    <div id="example-1">
      <button v-on:click="counter += 1">Add 1</button>
      <p>The button above has been clicked {{ counter }} times.</p>
    </div>
    <script>
      var example1 = new Vue({
        el: "#example-1",
        data: {
          counter: 0,
        },
      });
    </script>

    <h4>clickイベント ～ メソッドイベントハンドラ</h4>
    <!-- `greet` は、あらかじめ定義したメソッドの名前 -->
    <div id="example-2">
      <button v-on:click="greet">Greet</button>
    </div>
    <script>
      var example2 = new Vue({
        el: "#example-2",
        data: { name: "Vue.js" },
        methods: {
          greet: function (event) {
            alert("Hello" + this.name + "!");
            if (event) {
              alert(event.target.tagName);
            }
          },
        },
      });
    </script>

    <h4>clickイベント ～ インラインメソッドハンドラ</h4>
    <div id="example-3">
      <button v-on:click="say('hi')">Say hi!</button>
      <button v-on:click="say('what')">Say what</button>
      <!-- DOMイベントをJSに渡す -->
      <button v-on:click="warn('Form cannot be submitted yet.', $event)">
        Submit
      </button>
    </div>
    <script>
      var example3 = new Vue({
        el: "#example-3",
        methods: {
          say: function (message) {
            alert(message);
          },
          warn: function (message, event) {
            // ネイティブイベントを参照
            if (event) {
              event.preventDefault();
            }
            alert(message);
          },
        },
      });
    </script>

    <h4>キー修飾子</h4>
    <div id="example-4">
      <span>Trigger Enter</span>
      <input type="text" v-model="inputValue1" v-on:keyup.enter="submit1"/><br>
      <span>Trigger ctrl+Enter</span>
      <input type="text" v-model="inputValue2" v-on:keydown.ctrl.enter="submit2"/>
    </div>
    <script>
      var example4 = new Vue({
        el: "#example-4",
        data: {
          inputValue1: "",
          inputValue2: "",
        },
        methods: {
          submit1: function () {
            alert(this.inputValue1);
          },
          submit2: function () {
            alert(this.inputValue2);
          },
        },
      });
    </script>
  </body>
</html>
